# Build outputs
**/bin/
**/obj/
**/out/
**/publish/

# Version control and IDE
.git/
.gitignore
.gitattributes
.vs/
.vscode/
*.user
*.suo
*.userosscache

# Misc
**/.env
**/*.md
**/Dockerfile*
**/.dockerignore
**/node_modules/
**/*.log
**/Thumbs.db
