# MySQL (wird von mysql- und api-Container genutzt)
MYSQL_ROOT_PASSWORD=rootpassword
MYSQL_DATABASE=Elementum-Database
MYSQL_USER=elementum
MYSQL_PASSWORD=elementum
MYSQL_PORT=3307

# API
API_PORT=5000
